*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
.full-wrapper{
    width: 100%;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.m-30{
    margin:0 30px;
}

.m-10{
    margin: 0 10px;
}

/*manu starts*/

.menu-bg{
    height: 80px;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

.menu-bg .menu{
    height: 80px;
    /* background-color: bisque; */
}

.menu-bg .menu .logo{
    height: 80px;
    width: 140px;
    /* background-color: burlywood; */
    float: left;
}

.menu-bg .menu .logo img{
    padding-top: 15px;
    float: left;
}

.menu-bg .menu .logo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    float: left;
    color: #4aa3cc;
    padding-top: 20px;
    padding-left: 10px;
}

.menu-bg .menu .menu-list{
    width: 820px;
    height: 80px;
    /* background-color: coral; */
    float: left;
}

.menu-bg .menu .menu-list ul{
    float: right;
}
.menu-bg .menu .menu-list ul li{
    float: left;
    padding-left: 40px;
}

.menu-bg .menu .menu-list ul li a{
    line-height: 80px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: all ease 0.7s;
    display: block;
    transform: scale(1);
}

.menu-bg .menu .menu-list ul li a:hover{
    color: #00e0d0;
    transform: scale(1.4);
}

/*manu ends*/






/*banner starts*/

.banner-bg{
    height: 770px;
    background: url(../images/banner.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

.banner-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(9, 5, 47, 0.9), rgba(49, 29, 94, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-bg .banner{
    height: 770px;
    text-align: center;
}

.banner-bg .banner h1{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    text-transform: capitalize;
    color: white;
    padding-top: 230px;
    padding-bottom: 30px;
}

.banner-bg .banner .line{
    border: 1px solid #00e0d0;
    width: 50px;
    margin: auto;
}

.banner-bg .banner p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 24px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 73px;
}

.banner-bg .banner a{
    border: 2px solid #00e0d0;
    border-radius: 4%;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    transition: all ease 0.7s;
    display: inline-block;
    transform: scale(1);
}

.banner-bg .banner a:hover{
    background-color: #00e0d0;
    color: rgba(9, 5, 47, 0.9);
    transform: scale(1.2);
}

.banner-bg .banner .dotbox{
    padding-top: 120px;
}
/*banner ends*/


/*our story starts*/

.ourstory-bg{
    height: 435px;
    /* background-color: #00e0d0; */
}
.ourstory-bg .ourstory{
    height: 435px;
    /* background-color: aliceblue; */
}

.ourstory-bg .ourstory .ourstory-img{
    height: 405px;
    width: 410px;
    padding-top: 100px;
    padding-right: 100px;
    float: left;
}

.ourstory-bg .ourstory .ourstory-text{
    width: 550px;
    float: left;
}

.ourstory-bg .ourstory h1{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 22px;
    color: #413d4b;
    padding-top: 72px;
    padding-bottom: 25px;
    letter-spacing: 1px;
}
.ourstory-bg .ourstory p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #413d4b;
    line-height: 22px;
    padding-right: 20px;
    padding-bottom: 35px;
}
.ourstory-bg .ourstory a{
    border: 2px solid #00e0d0;
    border-radius: 4%;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    transition: all ease 0.7s;
    display: inline-block;

}
.ourstory-bg .ourstory a:hover{
    background-color: #00e0d0;
    color: rgba(9, 5, 47, 0.9);
}
/*our story ends*/

/*watch our story starts*/

.watchourstory-bg{
    height: 550px;
    background: url(../images/city.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}
.watchourstory-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(9, 5, 47, 0.9), rgba(49, 29, 94, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.watchourstory-bg .watchourstory{
    height: 550px;
    text-align: center;
}

.watchourstory-bg .watchourstory img{
    border: 3px solid white;
    border-radius: 50%;
    padding: 22px 25px;
    margin-top: 205px;
    transition: all ease 0.5s;
}
.watchourstory-bg .watchourstory img:hover{
    transform: scale(1.2);
    margin-bottom: 10px;
}

.watchourstory-bg .watchourstory h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding-top: 30px;
    letter-spacing: 0.5px;
}
/*watch our story ends*/


/*expertise starts*/

.expertise-bg{
    height: 755px;
    /* background-color:aliceblue; */
}
.expertise-bg .expertise{
    height: 755px;
    text-align: center;
    /* background-color: antiquewhite; */
}

.expertise-bg .expertise h1{
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 22px;
    padding-top: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.expertise-bg .expertise p{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 14px;
    color: #2f2d359b;
    letter-spacing: 1px;
    padding: 10px 0px 20px 0;
}

.expertise-bg .expertise .line{
    border: 1px solid rgba(65, 61, 75, 0.3);
    width: 50px;
    margin: auto;
    margin-bottom: 40px;
}

.expertise-bg .expertise .expertise-item{
    width: 300px;
    height: 220px;
    /* background-color: thistle; */
    float: left;
    padding-top: 35px;
}

.expertise-bg .expertise .expertise-item h1{
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 35px;
}

.expertise-bg .expertise .expertise-item p{
    color: #413d4b8f;
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    padding: 22px 11px 42px 11px;
}

.expertise-bg .expertise .expertise-item img{
    transform: scale(1);
    transition: all ease 0.5s;
}

.expertise-bg .expertise .expertise-item img:hover{
    transform: scale(0.8);
}
/*expertise ends*/


/*team starts*/

.team-bg{
    height: 715px;
    background: url(../images/trees.jpg) no-repeat center / cover;
    position:relative;
    z-index: 1;
}

.team-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(9, 5, 47, 0.9), rgba(49, 29, 94, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.team-bg .team{
    height: 715px;
    text-align: center;
}

.team-bg .team h1{
    padding-top: 70px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.team-bg .team p{
    color: rgba(255, 255, 255, 0.678);
    padding-top: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.team-bg .team .line{
    border: 1px solid rgba(255, 255, 255, 0.315);
    width: 50px;
    margin: auto;
    margin-bottom: 50px;
}


.team-bg .team .team-item{
    height: 310px;
    width: 220px;
    /* background-color: purple; */
    float: left;
    transition: all linear 0.5s;
    position: relative;
    overflow: hidden;
}

.team-bg .team .team-item:hover{
    box-shadow: 5px 5px 5px 10px #4aa3cc46;
    transform: scale(0.9);
}

.team-bg .team .team-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 20%;
    height: 230px;
    background-color: rgba(198, 202, 204, 0.452);
    transform: skew(-30deg);
    transition: all linear 0.4s;

}

.team-bg .team .team-item:hover::before{
    left: 140%;
}


.team-bg .team .team-item img{
    width: 220px;
    height: 230px;
}

.team-bg .team .team-item h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    padding-top: 22px;
}

.team-bg .team .team-item p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.472);
    text-transform: uppercase;
}

.team-bg .team .team-item .line{
    border: 1px solid rgba(255, 255, 255, 0.178);
    width: 220px;
    margin: auto;
    /* margin-bottom: 50px; */
}

.team-bg .team h3{
    color: rgba(255, 255, 255, 0.548);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 380px;
    padding-bottom: 25px;

}

.team-bg .team a{
    border: 2px solid #00e0d0;
    border-radius: 4%;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    transition: all ease 0.7s;
    display: inline-block;

}
.team-bg .team a:hover{
    background-color: #00e0d0;
    color: rgba(9, 5, 47, 0.9);
}
/*team endss*/


/*works starts*/

.works-bg{
    height: 740px;
    background-color: wheat;
}

.works-bg .works{
    height: 740px;
    background-color: blanchedalmond;
}
/*works ends*/